nav{
    background-color: #da0000;
}

.add-btn{
    background-color: #da0000;
    position:fixed;
    bottom:20;
    right:20;
}

.add-btn:hover{
    background-color: #c00000;
}

.recipe img{
    width:100%;
    height: 20%;
    object-fit: cover;
}